
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header i{
    font-size: 70px;
}
.header h2{
    font-size: 30px;
    color: white;
}
.toMost{
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
}
.menu{
    background-color: greenyellow;
    max-width: 250px;
    height: 100%;
    border: 2px solid black;
    border-radius: 25px;
    display: none;
}
.toMost{
   text-align: left;
}
.items{
  
    background-color: black;
    color: white;
}

.item1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
}
.item2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
}
.item1:hover{
    background-color: white;
    color: black;
    border-radius: 25px;
}
.item1 i{
    font-size: 30px;
    padding: 10px;
}
.item2 input{
    width: 80%;
    height: 40px;
    align-items: center;
    border-radius: 20px;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}
.item1 input:hover{
    background-color: white;
}
.myProfile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: black;
    background-color: white;
}
.myName{
    font-size: 20px;
}
.myPic img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
.logOut{
    margin-left: 20px;
    font-size: 30px;
    color: black;
    text-align: right;
}
/*
.myBody{
    margin: 0px;
    background-image: linear-gradient(rgb(4,9,3,0.7),rgb(4,9,3,0.7)),url(images/mypic.jpg);
    background-size: cover;
}
*/
.myBody .top{
    float: right;
}
.top{
    margin-left: 100%;
    display: inline-flex;
    position: relative;
   
   
}
.top i{
    font-size: 50px;
}

@media only screen and (max-width:700px){
    .menu{
        max-width: 150px;
        height: 100%;
    }
    .item1 i{
        font-size: 15px;

    }
    .item2 input{
        height: 30px;

    }
    .myPic img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 20px;
    }
    .logOut{
        font-size: 25px;
    }
    .header i{
        font-size: 50px;
    }
    .header h2{
        font-size: 20px;
        color: white;
    }
    .toMost{
        font-size: 20px;
        margin-left: 10px;
        margin-top: 10px;
    }
}

